:root{
    --cor-principal:#ffffff;
    --cor-segundaria: #B81C1C;
    --cor-tercearia: #685A3C;
    --botao-destaque:#151215;
    --cor-de-fundo:#2E1C27;


}

*{
    margin: 0%;
    padding: 0%;
}
 body{
    color: var(--cor-principal);
    font-weight: 400;
    font-size: 16px;
 }

.principal{
    background-image: url("img/image4.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;  
    align-items: end;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container--botao{
    background-color: var(--botao-destaque);
    color: var(--cor-segundaria);
    padding: 1em;
    border-radius: 10px;
    text-decoration: none;
    display: block;

}
.botao--secundario{
    background-color: transparent;
    border: 2px solid var(--cor-principal);

}
