:root{
    --cor-principal:#ffffff;
    --cor-segundaria: #B81C1C;
    --cor-tercearia: #685A3C;
    --botao-destaque:#151215;
    --cor-de-fundo:#2E1C27;


}

*{
    margin: 0%;
    padding: 0%;
}


.principal{
    background-image: url("img/image4.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    height: 100vh;
}
.container--botao{
    background-color: var(--botao-destaque);
    color: var(--cor-principal);
    padding: 1em;
    border-radius: 5px;

}
